{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-12">
        <div class="noticias" id="paginated-content"></div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12">
            <div class="paginacao" id="pagination"></div>
        </div>
    </div>

</div>
{% endblock %}

{% block extrajs %}
    <script type="text/html" id="noticia-template">
        <div class="row noticia">
            <div class="col-xs-12">
                <h2><%= titulo %></h2>
                <div class="texto" style="margin-bottom: 15px">
                    <%- texto %>
                </div>
                <p class="lead"><a href="<%= link %>" target="_blank" class="btn btn-default">Ver no site</a></p>
                <ul class="list-inline">
                    <li><a href="<%= site %>"><%= site %></a></li>
                    <li><%= data_publicacao %></li>
                </ul>
            </div>
        </div>
        <hr/>
    </script>

    <script type="text/html" id="noticias-pagination">
        <ul class="pagination pages">
            <% if (currentPage != 1) { %>
               <li class="arrow"><button class="prev btn-default btn">◀</button></li>
            <% } else { %>
               <li class="arrow"><button class="disabled prev btn-default btn">◀</button></li>
            <% } %>

            <% for(p=1; p<=totalPages; p++) { %>
                <% if (currentPage == p) { %>
                    <li><button class="active page btn btn-default"><%= p %></button></li>
                <% } else { %>
                    <% if ((p <= currentPage + 3) && (p >= currentPage - 3)) { %>
                        <li><button class="page btn btn-default"><%= p %></button></li>
                    <% } %>
                <% } %>
            <% } %>

            <% if (lastPage != currentPage && lastPage != 0) { %>
                <li class="arrow"><button class="btn btn-default next">▶</button></li>
            <% } else { %>
                <li class="arrow"><button class="disabled prev btn-default btn">▶</button></li>
            <% } %>
        </ul>
    </script>
{% endblock %}