{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3><b>Notícias: </b><span id="noticias"></span></h3>
            <h3><b>Urls não processadas: </b><span id="urls-false"></span></h3>
            <h3><b>Total Urls: </b><span id="urls"></span></h3>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        setInterval(function () {
            $.getJSON('/monitor/stats/', function(data){
                $('#noticias').text(data['noticias']);
                $('#urls-false').text(data['urls_false']);
                $('#urls').text(data['urls_total']);
            });
        }, 5000);
    </script>
{% endblock %}